*,
*::before,
*::after {
  box-sizing:border-box;/*全体をボーダーボックス指定*/
}

body{
  font-family:"Hiragino Kaku Gothic ProN",snas-serif;/*フォントをゴシック体*/
  padding:0px 0px;
  margin:0px 0px;
  background-color:#000;
}

/*本文のcss*/
.main{
  padding:0 190px;
  width:100%;
}
.containers{
  max-width:1200px;
  width:100%;
  margin:0px auto;
}
/*headerのcss*/
header {
  width:100%;
  height:65px;
  background-color: rgba(5,0,2,0.8);
  position:fixed;
  top:0;
  z-index:10;
}
.header-left {
  float:left;
}
.header-left li{
  float:left;
  list-style:none;
}

.header-left img{
  width:128px;
  max-width:100%;
  height:auto;
  margin-top:-12px;
  margin-left:10px;

}
.header-left p{
  margin-left:20px;
  margin-top:5px;
  font-size:12px;
  color:#fff;
  opacity:0.8;
}
.header-right{
  float:right;
}
.header-right .index,.company,.business,.contact{
  float:left;
}
.header-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:rgba(5,0,2,0.8);
}
.header-right li a {
  display: block;
  padding: 2.6vh 1.54vw;
  border-left: 1px solid #eee;
  color:#fff;
  opacity:0.95;
  text-decoration: none;
}
.header-right a{
  width:140px;
}
.header-right li :hover,
header .menu-btn:hover {
  background-color: rgba(250,245,245,0.8);
  color:#111;
}
/*HOME btn css*/
#btn1,#btn2,#btn3{
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: all .5s;
		}

	#btn1:before{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  0%;
			left: 0%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

		}
	#btn1:after{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  0%;
			left: 0%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

	}
	#btn1:hover{
		color: #fff;
	}
	#btn1:hover:before{
			transform: rotateX(90deg);

	}
	#btn1:hover:after{
			transform: rotateY(90deg);
	}
	/* COMPANY btn css*/
	#btn2:before{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  -100%;
			left: -100%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

		}
	#btn2:after{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  100%;
			left: 100%;
			background:rgba(250,245,245,0.4) ;
			transition: all .5s;
			z-index: -1;

	}
	#btn2:hover{
		color: #fff;
	}
	#btn2:hover:before{
			top: 0;
			left: 0;
	}
	#btn2:hover:after{
	  background:rgba(250,245,245,0.4);
	}
	/*contact btn css*/
#btn3:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(250,245,245,0.4);
  color:#fff;
  transition: all .35s;
}

#btn3:hover{
  color: #fff;
}
#btn3:hover:after{
  width: 100%;
  color:#fff;
}

/*sub-menu 多階層　css*/
.header-right ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}
.header-right ul li:hover > ul {
	display:inherit;
}
.header-right ul ul li {
	width:140px;
	float:none;
	display:list-item;
	position: relative;
}
.header-right ul ul li a{
  font-size:11px;
  font-weight:800;
  white-space:nowrap;
  padding-left:-5px;
  color:#ddd;
}
/*----------------*/
/* hamburger-menu */
/*----------------*/
header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
header .menu-icon .navicon {
  background: #999;
  display: block;
  height: 4px;
  position: relative;
  top:-100px;
  transition: background .2s ease-out;
  width: 30px;
}
header .menu-icon .navicon p{
  white-space:nowrap;
  font-size:12px;
  font-weight:900;
  padding-top:16px;
  margin-left:-12px;
  color:#ddd;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  /*top:5px;*/
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 9px;
}

header .menu-icon .navicon:after {
  top: -9px;
}

/* menu btn */

header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/*responsive*/

/* 48em = 768px */
@media (min-width: 670px) {
  .header-left{
    clear:both;
  }
  .header-right li {
    float: left;
  }
  .header-right li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}

/*----------------*/
/* トップに戻るcss*/
/*----------------*/
#pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 15px;
  background: #000;
  opacity: 0.7;
}
#pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f102';
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}
/*トップ戻る終了*/
/*----------------*/
/* logo-rotation  */
/*-----------------*/
.rotate {
  width: 60px;
  height: 50px;

  position: absolute;
  top:0.4vw;
  left:48vw;
  transform-origin: center;
  /*transform-style: preserve-3d;*/
}
.rotate .front {
  background-image:url("rotation-logo.png");
  background-size:22px 22px;
  background-position:center center;
  background-repeat:no-repeat;
  /*border:2px solid;
  border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 1;*/
}
.rotate .back {
  background-image:url("rotation-logo.png ");
  background-size:22px 22px;
  background-position:center center;
  background-repeat:no-repeat;
  visibility:visible;
  /*border:2px solid;
  border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 1;*/
}
.rotate figure {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 200px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;*/
}
.rotate:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#rotateY {
  -moz-animation: rotateY 5s  ease 0s infinite;
  -webkit-animation: rotateY 5s   ease 0s infinite;
  animation: rotateY 5s  ease 0s infinite;
}
#rotateY .back {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@-moz-keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/*-------------*/
/*footerのcss*/
/*-------------*/
footer{
  clear:both;
  width:100%;
  height:95px;
  background-color:#000;
  opacity:0.9;
}
.footer-left
{
  float:left;
  padding-left:20px;
  padding-top:7px;
  font-size:14px;
  color:#fff;
}
.footer-right{
  float:right;
  margin-right:20px;
  line-height:75px;
  color:#fff;
}
.footer-right a{
  padding-right:10px;
  font-size:14px;
  text-decoration:none;
  color:#fff;
  opacity:0.8;
  transition:all 0.5s;
}
.footer-right a:hover{
  opacity:1.0;
  text-decoration:underline;
}

/*------------------------*/
/*water-rippleのcss*/
/*------------------------*/
.business-top-wrapper{
  height:350px;
  font-family:serif;
  position:relative;
   /*position:fixed;*/
  /*background-color:rgba(0,0,0,0.6);*/
}
#slideshow{
  height: 325px;
  width: 555px;
  transition: background-image 2.5S ease;
  background-image: url("https://i.imgur.com/GuhCFBm.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  -webkit-filter: grayscale(88%);
  position:absolute;
  top:90px;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
}

h1{
  padding-top:100px;
  font-size: 32px;
  color: white;
  text-align: center;
  line-height: 40px;
}
p{
   color: white;
  text-align: center;
}
/*.water-ripple {
  text-align:center;
  display:block;
  position:relative;
  top:0%;
  left:0%;*/
  /*margin:-20px 0 0 -20px;*/
  /*width:10px;
  line-height:10px;
}*/
/*
.water-ripple h1 {
  font-size:50px;
  font-family: 'Norican', cursive;
  color:white;
  text-shadow:1px 3px 0 #000,2px 3px 18px rgba(74,163,223,1);
}
.ripple,.ripple:before,.ripple:after {
  display:block;
  border-radius:2px;
  width:2px;
  height:2px;
  -webkit-animation:rip 6s infinite ease-out;
  -moz-animation:rip 6s infinite ease-out;
}
.ripple {
  position:absolute;
  z-index:-1;
  top:110px;
  left:50%;
}
.ripple:before,.ripple:after {
  content:'';
  position:absolute;
}
.ripple:before {-webkit-animation-delay:.2s;-moz-animation-delay:.2s;top:5px;left:25px;}
.ripple:after {-webkit-animation-delay:.8s;-moz-animation-delay:.8s;top:25px;left:0;}
@-webkit-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 rgba(255,255,255,0.8),
               0 0 0 0 rgba(255,255,255,0.2),
               0 0 0 0 rgba(255,255,255,0.8),
               0 0 0 0 rgba(0,0,0,0.3);
  }
  100% {
    box-shadow:0 0 40px 200px rgba(255,255,255,0.8),
               0 0 10px 210px transparent,
               0 0 30px 220px rgba(255,255,255,0.8),
               0 0 5px 230px transparent;
  }
}
@-ms-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 rgba(255,255,255,0.8),
               0 0 0 0 rgba(255,255,255,0.2),
               0 0 0 0 rgba(255,255,255,0.8),
               0 0 0 0 rgba(0,0,0,0.3);
  }
  100% {
    box-shadow:0 0 40px 200px rgba(255,255,255,0.8),
               0 0 10px 210px transparent,
               0 0 30px 220px rgba(255,255,255,0.8),
               0 0 5px 230px transparent;
  }
}
*/
/*==================-----========*/
/*業務内容メッセージカードのcss*/
/*-------------------------------*/
.business-profile{
  margin-top:10px;
  width:100%;
  height:950px;
  text-align:center;

}
.card-container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;

}
.card-container .card{
  position: relative;
}

.card-container .card .face{
  width:300px;
  height: 200px;
  transition:.4s;
}

.card-container .card .face.face1{
  position: relative;
  /*background: linear-gradient(#ef93b6,#e5bfba,#ffe);*/
  background:linear-gradient(#141414,#262626,#4d4d4d,#636363);
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card-container .mg:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}
.card-container .cy:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #0ff,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #0ff,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #0ff,
    10px 0 80px #0ff;
}
.card-container .gr:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #32cd32,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #32cd32,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #32cd32,
    10px 0 80px #0ff;
}
.card-container .ye:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #ffff00,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #ffff00,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #ffff00,
    10px 0 80px #0ff;
}
.card-container .gd:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #800080,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #800080,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #800080,
    10px 0 80px #0ff;
}
ntainer .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}

.card-container .card:hover .face.face1 .content{
  opacity: 1;
}
.card-container .card .face.face1 .content i{
  font-size: 3em;
  color: #a4a5a5;
  display: inline-block;

}
.card-container .card .face.face1 .content h3{
  font-size: 1em;
  color: #fff;
  opacity:0.7;
  text-align: center;
}
.card-container .card:hover .face.face1 .content h3{
  color:#000;
  }
 .card-container .card:hover .face.face1 .content i{
  color:#000;
  }
.card-container .card .face.face1 .content a{
   transition: .5s;
}

.card-container .card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow:  0 0 3px 2px rgba(223,190,211,.8);
  transform: translateY(-100px);
}

.card-container .card:hover .face.face2{
    transform: translateY(0);
}

.card-container .card .face.face2 .content p, a{
  font-size:12.8px;
  font-weight:800;
  margin: 0 ;
  padding: 12px 0 -2px 0;
  color:#001;
  opacity:0.8;
  text-align:left;
}

.card-container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.card-container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

/*ワッゼドビジネスタイトルcss*/
.stroke h1{
  font-size:20px;
}
.stroke p{
  font-size:16px;
  font-weight:200;
}
.stroke {
  font-family: "Passion One";
  /*font-weight: 900;
  font-size: 20px;*/
  padding-top:10px;
  margin-bottom:0px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  transition: 0.5s all;
}
.stroke:hover {
  color: rgba(255, 255, 255, 1);
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
}
/*---------------------------------*/
/*実例紹介紹介thumbnail sliderのcss*/
/*---------------------------------*/
.business-contents{
  width:100%;
  height:2700px;
  text-align:center;
}

.business-contents .container h1 {
  font-size: 20px;
  text-align: center;
  color:#fee;
}
.business-contents .container p{
  font-size:12.7px;
  padding:10px 0;
  color:#fff;
}
.business-contents .container h5{
  font-size:16px;
  text-align:left;
  color:#fff;
  font-family:serif;
  line-height:1.8;
  letter-spacing:0.12em;
  margin-bottom:10px;
}
.business-contents .container h6{
  text-align:center;
  font-size:20px;
  color:#fff;
}
.click h2{
  font-size:18px;
  color:#fff;
  margin-bottom:-5px;
}

.slider {
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}
.slider .slides {
  width: 700px;
  height: 380px;
  border:2px solid;
}

.slider img {
width: 700px;
  height: 380px;
  object-fit: cover;
  border:4px solid cyan;
}

.slider nav {
  display: flex;
  list-style: none;
  justify-content: center;
}

 nav   ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left:195px;
}
 nav  ul li {
  cursor: pointer;
  border:2px solid;
}
 nav  ul li/*:not(:last-child)*/ {
  margin-top:20px;
  margin-left:7px;
}
 nav  ul li img {
  width: 90px;
  height: 90px;
  border:1px solid #fff;
  object-fit: cover;
}

/*-------------------*/
/*APPのcss*/
/*-------------------*/
.example0001 {
  margin-left:280px;
  margin-right:270px;
  cursor:pointer;
  background-image:url("https://i.imgur.com/mvfMHL4.jpg");
  background-size:500px 800px;

}
.example0001 table{
  /*border:solid #fff 1px;*/
}
.example0001 table th{
	padding:20px 30px;
  width:265px;
	text-align:center;
	background-color:rgba(0,0,0,0.5);
	border:solid #fff 1px;
	color:rgba(255,255,255,1);
  font-size:11px;
}
.example0001 table td{
  padding:20px 30px;
  width:265px;
  text-align:center;
	background-color:rgba(0,0,0,0.5);
	border:solid #fff 1px;
}
.example0001 table img{
  width:120px;
  height:250px;
  transition:all 2s ease;

}
.example0001 table img:hover{
  transform: scale(2.0, 1.8);
  animation: blinkAnimeS4 .5s infinite alternate;
  /*animation: Flash4 2s infinite;*/
  border:3px solid #e5c100;
}
/*@keyframes Flash4{
  50%{
    box-shadow: 0 1px 15px 1px #e5c100;
  }
}*/
@keyframes blinkAnimeS4{
 0%  { border-color: #e5c100 }
 100%{ border-color: #000 }
}
/*-------------------------------*/
/*ピアッサーのアニメーションcss*/
/*.animatos{
  max-width:1200px;
  width:50%;
  height:470px;
  margin:0 auto;
  cursor:pointer;
}
.animato{
  margin-left:-60px;
}
.animato img{
   border:2px solid #e5c100;
}
.animato h3{
  color:#fff;
  padding:10px 0;
  margin-left:80px;
  white-space:nowrap;
}*/
/*ピアッサーmodal css*/
.animatos{
  max-width:1200px;
  width:50%;
  height:460px;
  margin:0 auto;
  cursor:pointer;
}
.animato{
  margin-left:-60px;
}
.animato img{
   border:2px solid #e5c100;
}
.animatos .piassa h3{
  color:#fff;
  padding:25px 0  0px 0;
  margin-left:80px;
  margin-top:70px;
  font-size:17px;
  white-space:nowrap;
}
.animatos .piassa p{
  color:#fff;
  margin-top:-9px;
  margin-left:60px;
  font-size:14px;
}
.animatos .modal {
  display: none;
}

.animatos .modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 45;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatos .modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #000000;
  width: 420px;
  height: 480px;
  border-radius: 20px;
  box-shadow: 0px 9px 20px 0px #FFFFFF;
}

.animatos .modal-box p {
  color: #fff;
  font-size: 12.5px;
  font-family:serif;
  margin-top:20px;
  margin-left:30px;
  margin-right:15px;
  text-align:left;
}

.animatos .modal-open {
  padding: 10px;
  /*border: 2px solid #000;*/
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.animatos .modal-close {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px 7px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  text-decoration: none;
}

.animatos .modal-close:hover {
  color: #fff;
  transform: rotate(360deg);
  transition: transform 2s;
}
.animatos figure {
	position: relative;
}
.animatos figure img{
  max-width:100%;
  height:auto;
  margin-top:-22px;
}
.animatos figure figcaption {
		position: absolute;
		right: -45px;
		bottom: 0;
		font-size:12px;
		font-family:sans-serif;
		color: #fff;
		opacity:0.8;
}
/*ペンライトアニメーション　css*/
.business-contents .main-rotation{
  background-color:#000;
  position:relative;
  height:380px;
  margin-left:40px;
  margin-top:-50px;
  cursor:pointer;
  /*background-image:url("https://i.imgur.com/NqyrvLg.gif");*/
  /*background-image:url("https://i.imgur.com/NFN5AFd.gif");*/
  background-image:url("https://i.imgur.com/7OlPxdX.gif");
  background-size:360px;
  background-repeat:no-repeat;
  background-position:center center;
}
.business-contents .main-rotation h6{
  color:fff;
  margin-left:40px;
  margin-bottom:70px;
  font-size:14px;
}
.penlight-rotation img{
  position:absolute;
  top:55px;
  left:48%;
  -webkit-box-reflect: below 16px linear-gradient(transparent, transparent, #0007);
}
.main-rotation .modal_1 {
  display: none;
}

.main-rotation .modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 45;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-rotation .modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #000000;
  width: 420px;
  height: 475px;
  border-radius: 20px;
  box-shadow: 0px 9px 20px 0px #FFFFFF;
}

.main-rotation .modal-box p {
  color: #fff;
  font-size: 12.5px;
  font-family:serif;
  text-align:left;
  margin-top:15px;
  margin-bottom:30px;
  margin-left:13px;
  margin-right:5px;
}

.main-rotation .modal-open_1 {
  padding: 10px;
  /*border: 2px solid #000;*/
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
.main-rotation .modal-open_1 img{
  margin-top:50px;
}
.main-rotation .modal-close_1 {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px 7px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  text-decoration: none;
}

.main-rotation .modal-close_1:hover {
  color: #fff;
  transform: rotate(360deg);
  transition: transform 2s;
}
.main-rotation figure {
	position: relative;
}
.main-rotation .powerled img {
 position: absolute;
 top:-41px;
 left:10px;
}
 .main-rotation .chipled img {
 position: absolute;
 top:-40px;
 left:10px;
}
.main-rotation figure figcaption {
	  margin-left:140px;
		font-size:12px;
		font-family:sans-serif;
		color: #fff;
		opacity:0.8;
		border:1px solid #eee;
}
.loader {
  position: absolute;
  top: 75px;
  right: 0;

  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.loader .rotation {
  animation: rotate linear infinite 9s;
  transform-style: preserve-3d;
}
.loader .rotation div {
 font-family:sans-serif;
  font-weight:900;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  color: red;
  animation:colors linear infinite 9s;
  text-align: center;
}
.loader .rotation div:nth-child(0) {
  transform: rotateY(0deg) translateZ(200px);
}
.loader .rotation div:nth-child(1) {
  transform: rotateY(18deg) translateZ(200px);
}
.loader .rotation div:nth-child(2) {
  transform: rotateY(36deg) translateZ(200px);
}
.loader .rotation div:nth-child(3) {
  transform: rotateY(54deg) translateZ(200px);
}
.loader .rotation div:nth-child(4) {
  transform: rotateY(72deg) translateZ(200px);
}
.loader .rotation div:nth-child(5) {
  transform: rotateY(90deg) translateZ(200px);
}
.loader .rotation div:nth-child(6) {
  transform: rotateY(108deg) translateZ(200px);
}
.loader .rotation div:nth-child(7) {
  transform: rotateY(126deg) translateZ(200px);
}
.loader .rotation div:nth-child(8) {
  transform: rotateY(144deg) translateZ(200px);
}
.loader .rotation div:nth-child(9) {
  transform: rotateY(162deg) translateZ(200px);
}
.loader .rotation div:nth-child(10) {
  transform: rotateY(180deg) translateZ(200px);
}
.loader .rotation div:nth-child(11) {
  transform: rotateY(198deg) translateZ(200px);
}
.loader .rotation div:nth-child(12) {
  transform: rotateY(216deg) translateZ(200px);
}
.loader .rotation div:nth-child(13) {
  transform: rotateY(234deg) translateZ(200px);
}
.loader .rotation div:nth-child(14) {
  transform: rotateY(252deg) translateZ(200px);
}
.loader .rotation div:nth-child(15) {
  transform: rotateY(270deg) translateZ(200px);
}
.loader .rotation div:nth-child(16) {
  transform: rotateY(288deg) translateZ(200px);
}
.loader .rotation div:nth-child(17) {
  transform: rotateY(306deg) translateZ(200px);
}
.loader .rotation div:nth-child(18) {
  transform: rotateY(324deg) translateZ(200px);
}
.loader .rotation div:nth-child(19) {
  transform: rotateY(342deg) translateZ(200px);
}
.loader .rotation div:nth-child(20) {
  transform: rotateY(360deg) translateZ(200px);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes colors {
  0% {
    color:white;
  }
  20%{
    color:red;
  }
  40%{
    color:blue;
  }
  60%{
    color:yellow;
  }
  80%{
    color:magenta;
  }
  100% {
    color:green;
  }
}

/*--------------------------------*/
/*--------------------------------*/
/*タブレットresponsive*/
/*--------------------------------*/
/*--------------------------------*/
@media (orientation:portrait) and (max-width:1070px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
 .main{
  padding:0;
  margin:0;
}
.rotate{
  left:106%;
}
.header-left{
  transform:scale(0.87);
  margin-left:-60px;
}
.header-right{
  transform:scale(0.87);

}
.business-top-wrapper{
  width:1070px;
  max-width:100%;
  height:320px;
  position:relative;
}
#slideshow{
  transform:scale(0.9);
   margin-top:10px;
   position:absolute;
   left:50%;
   transform:translateX(-50%);
   -webkit-transform:translateX(-50%);

}
.business-profile{
  height:1090px;
}
.stroke h1{
  font-size:14px;
}
.stroke p{
  font-size:10px;
}
.card-container {
 transform:scale(0.9);
}
.business-contents{
  transform:scale(0.8);
  height:2300px;
}
nav   ul {
  margin-left:50px;
}
.example0001 table{
  margin-left:-100px;
}
.animato{
  margin-left:-150px;
}
.main-rotation{
  margin-left:-50px;
}
}
@media (orientation:portrait) and (max-width:800px){
  #slideshow{
    margin-top:50px;
  }
  .stroke{
    margin-top:60px;
  }
  .business-contents{
    height:2450px;
  }
  .main-rotation{
    margin-left:-10px;
  }
}
@media (orientation:landscape) and (max-width:1070px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .business-profile{
    height:1290px;
  }
  nav   ul {
    margin-left:6px;
  }
  .business-contents{
    height:2790px;
  }
  .example0001 table{
    margin-left:-120px;
  }
  .animato{
    margin-left:-150px;
  }
  .main-rotation{
    margin-left:0px;
  }
}
/*-----------------------------*/
/**---------------------------**/
/*スマホresponsive*/
/**---------------------------**/
/*-----------------------------*/
@media (orientation:portrait) and (max-width:670px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
.main{
  padding:0;
  margin:0;
  position:relative;
 }
.header-left{
  transform:scale(0.83);
  margin-left:-65px;
}
.rotate{
   display:none;
   left:56%;
}
.menu-icon{
   margin-top:45px;
	}
  footer{
    float:none;
    transform:scale(0.93);
  }
  footer .footer-right{
    transform:scale(0.85);
    margin-top:-10px;
    margin-left:10px;
    margin-bottom:20px;
  }
  footer .footer-right small{
    display:block;
    margin-top:-45px;
    white-space:nowrap;
  }
.business-top-wrapper{
  width:500px;
  max-width:100%;
  height:180px;
  transform:scale(0.51);
}
#slideshow{
   margin-top:30px;
   position:absolute;
   left:50%;
   transform:translateX(-50%);
   -webkit-transform:translateX(-50%);
   margin-bottom:-120px;
}
.business-profile{
  height:1670px;
}
.stroke h1{
  font-size:14px;
}
.stroke p{
  font-size:10px;
  margin-bottom:-140px;
}
.card-container{
  /*position:relative;*/
}
.card{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  /*margin-left:20px;*/
}
.business-contents{
  margin:0;
  padding:0;
  height:2200px;
}
.container{
  background-image:url("https://i.imgur.com/mvfMHL4.jpg");
  background-size:100% 750px;
  background-repeat:no-repeat;
}
nav{
  margin-left:-70px;
}
nav ul {
  /*margin-left:-80px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  transform:scale(0.6);
}
.slider img{
  transform:scale(0.51);
}

.business-contents .container h1{
  white-space:nowrap;
  font-size:20px;
}
.business-contents .container h5{
  padding-top:0px;
  margin-bottom:-10px;
  font-size:16.5px;
  font-weight:800;
  text-align:left;
}
.business-contents .container h6{
  font-size:20px;
  margin-bottom:-70px;
}
.business-contents .container p{
  font-size:20px;
}
.click h2{
  margin-top:-90px;
  margin-bottom:-25px;
}
.example0001{
  /*position:relative;*/
   display: flex;
   justify-content: center;
   align-items: center;
}
.example0001 table{
 /*margin-left:-270px;*/
  margin-left:-180px
}
.animatos{
   margin-top:60px;
   margin-left:30px;
   width:650px;
   max-width:100%;
}
.animatos .piassa  h3{
  margin-top:10px;
  margin-bottom:0px;
  margin-left:0px;
  font-size:16px;
}
.animatos .piassa  p{
  margin-left:-30px;
  margin-bottom:-25px;
  font-size:14px;
}
.animatos .modal-open img{
  margin-top:0px;
  transform:scale(0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatos .modal-box{
  top:770px;
  transform:scale(1.05);
}
.animatos .modal-box p{
 margin-left:20px;
  margin-top:10px;
  font-size:14px;
}
.animatos figure{
  top:30px;
}
 .business-contents .main-rotation{
    width:650px;
    max-width:100%;
    background-size:230px;
    margin-left:-15px;
  }
 .main-rotation .modal-open_1 img{
  transform:scale(0.9);
  margin-top:0px;
 }
.main-rotation .modal-box{
  top:1130px;

}
.main-rotation .modal-box p {
  font-size:14px;
}
  .loader{
    transform:scale(0.82);
    margin-top:-10px;
  }
.business-contents .main-rotation h6{
 margin-left:-5px;
 margin-bottom:-160px;
 margin-top:-120px;
 font-size:16px;
}

}
@media (orientation:portrait) and (max-width:420px){
  tml,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .business-profile{
    height:1800px;
  }
  .example0001 table{
    margin-left:-140px;
    transform:scale(0.99);
  }
}
@media (orientation:portrait) and (max-width:330px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  menu-icon{
     margin-top:5px;
  	}
    #slideshow{
       margin-top:70px;
  }
  .example0001 table{
    margin-left:-240px;
    transform:scale(0.97);
  }
  footer .footer-right{
    margin-right:-30px;
  }
}
@media (orientation:portrait) and (max-width:290px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  footer .footer-right{
    margin-right:-30px;
  }
  #slideshow{
    margin-top:70px;
  }
  .animatos .modal-open img{
    transform:scale(0.57);
  }
  .business-profile{
    height:1740px;
  }
  .business-contents .container h1{
    font-size:18px;
  }
  .example0001 table{
    margin-left:-280px;
    transform:scale(0.90);
  }
  .animato{
    margin-left:-195px;
  }
  .animatos .piassa  h3{
    margin-left: 65px;
  }
  .animatos .piassa  p{
    margin-left: 43px;
  }
  .animatos .modal-open img{
    transform:scale(0.53);
  }
  .business-contents .main-rotation{
    margin-left:0px;
  }
  footer .footer-right{
    transform:scale(0.78);
    margin-right:-40px;
  }
}
@media (orientation:landscape) and (max-width:830px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  header .rotate{
    margin-left:180px;
    margin-top:5px;
    transform:scale(0.8);
  }
  .menu-icon{
     margin-top:90px;
  	}
  #slideshow{
    margin-top:60px;
  }
  .business-profile p{
    margin-bottom:-20px;
  }
  .business-profile{
    height:2150px;
  }
  .card-container{
    margin-left:70px;
  }
  .stroke{
    margin-top:10px;
    margin-bottom:-40px;
  }
  .stroke h1{
    font-size:14px;
  }
  .stroke p{
    font-size:12px;
    display:inline-block;
  }
  .business-contents{
    height:2300px;
    width:700px;
    max-width:100%;
  }
  .container{
    width:700px;
    max-width:100%;
    margin:0 auto;
    display:inline-block;
  }
  .click h2{
    margin-top:-90px;
    margin-bottom:-40px;
  }
  .business-contents .container h1{
    white-space:nowrap;
    font-size:16px;
    width:600px;
    max-width:100%;
  }
  .business-contents .container h5{
    width:600px;
    max-width:100%;
    padding-top:0px;
    margin-bottom:-10px;
    font-size:13px;
    font-weight:800;
    text-align:left;
  }
  .business-contents .container h6{
    font-size:15px;
    margin-bottom:-50px;
    margin-left:10px;
  }
  .business-contents .container p{
    font-size:16px;
    margin-left:10px;
  }
  .slider{
    width:700px;
  }
  nav{
    margin-left:-95px;
  }
  nav  ul {
    transform:scale(0.68);
  }
  .slider img{
    transform:scale(0.51);
    margin-left:-280px;
  }
  .example0001 table{
    margin-left:-255px;
  }
  .animato{
    margin-left:-200px;
  }
  .animatos .modal-box{
    transform:scale(0.6);
  }
  .animatos .modal-open img{
    transform:scale(0.74);
  }
  .business-contents .animato h3{
    font-size:14px;
    margin-top:10px;
    margin-left:210px;
  }
  .business-contents .animato p{
    white-space:nowrap;
    font-size:14px;
    margin-bottom:-10px;
    margin-left:210px;
  }
  .main-rotation{
    margin-left:-90px;
  }
  .business-contents .main-rotation h6{
    font-size:14px;
    margin-top:-100px;
    margin-bottom:10px;
  }
  .main-rotation .modal-box{
    transform:scale(0.6);
  }
  .main-rotation .modal-open_1 img{
   transform:scale(0.8);
   margin-top:-20px;
  }
  .loader{
    top:45px;
  }
}

@media (orientation:landscape) and (max-width:700px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

  .menu-icon{
     margin-top:90px;
  	}
  #slideshow{
    margin-top:10px;
    }
  .business-profile{
    height:2310px;
  }
  .card-container{
    margin-left:0px;
  }
  .card{
    margin-bottom:60px;
  }
  .stroke{
    margin-top:10px;
    margin-bottom:-40px;
  }
  .stroke h1{
    font-size:14px;
  }
  .stroke p{
    font-size:12px;
    display:inline-block;
  }
  .business-contents{
    height:2350px;
    width:700px;
    max-width:100%;
  }
  .container{
    width:700px;
    max-width:100%;
    margin:0 auto;
    display:inline-block;
  }
  .click h2{
    margin-top:-90px;
    margin-bottom:-40px;
  }
  .business-contents .container h1{
    white-space:nowrap;
    font-size:16px;
    width:600px;
    max-width:100%;
  }
  .business-contents .container h5{
    width:600px;
    max-width:100%;
    padding-top:0px;
    margin-bottom:-10px;
    font-size:13px;
    font-weight:800;
    text-align:left;
  }
  .business-contents .container h6{
    font-size:15px;
    margin-bottom:-50px;
    margin-left:10px;
  }
  .business-contents .container p{
    font-size:16px;
    margin-left:10px;
  }
  .slider{
    width:700px;
  }
  nav{
    margin-left:-115px;
  }
  nav  ul {
    transform:scale(0.68);
  }
  .slider img{
    transform:scale(0.5);
    margin-left:-400px;
  }
  .example0001 table{
    margin-left:-300px;
  }
  .animato{
    margin-left:-230px;
  }
  .animatos .modal-box{
    transform:scale(0.6);
  }
  .animatos .modal-open img{
    transform:scale(0.74);
  }
  .business-contents .animato h3{
    font-size:14px;
    margin-top:10px;
    margin-left:210px;
  }
  .business-contents .animato p{
    white-space:nowrap;
    font-size:14px;
    margin-bottom:-10px;
    margin-left:210px;
  }
  .main-rotation{
    margin-left:-100px;
  }
  .business-contents .main-rotation h6{
    font-size:14px;
    margin-top:-100px;
    margin-bottom:10px;
  }
  .main-rotation .modal-box{
    transform:scale(0.6);
  }
  .main-rotation .modal-open_1 img{
   transform:scale(0.8);
   margin-top:-20px;
  }
  .loader{
    top:45px;
  }
}
@media (orientation:landscape) and (max-width:610px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .example0001 table{
    margin-left:-330px;
  }
  .loader{
    transform:scale(0.8);
  }

}
