*::before,
*::after {
  box-sizing:border-box;/*全体をボーダーボックス指定*/
}

body{
  font-family:"Hiragino Kaku Gothic ProN",snas-serif;/*フォントをゴシック体*/
  padding:0px 0px;
  margin:0px 0px;
  background-color:#000;
}

/*本文のcss*/
.main{
  padding-left:340px;
  width:100%;
}
.contact-form container{
  max-width:1200px;
  width:100%;
  margin:0px auto;
}
/*headerのcss*/
header {
  width:100%;
  height:65px;
  background-color: rgba(5,0,2,0.8);
  position:fixed;
  top:0;
  z-index:10;
}
.header-left {
  float:left;
}
.header-left li{
  float:left;
  list-style:none;
}

.header-left img{
  width:128px;
  height:auto;
  margin-top:-15px;
  margin-left:10px;

}
.header-left p{
  margin-left:20px;
  margin-top:2px;
  font-size:12px;
  color:#fff;
  opacity:0.8;
}
.header-right{
  float:right;
}
.header-right .index,.company,.business,.contact{
  float:left;
}
.header-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:rgba(5,0,2,0.8);
}
.header-right li a {
  display: block;
  padding: 2.6vh 1.54vw;
  border-left: 1px solid #eee;
  color:#fff;
  opacity:0.9;
  text-decoration: none;
}
.header-right a{
  width:140px;
  font-size:15px;
}
.header-right li :hover,
header .menu-btn:hover {
  background-color: rgba(250,245,245,0.8);
}
/*HOME btn css*/
#btn1,#btn2,#btn3{
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: all .5s;
		}

	#btn1:before{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  0%;
			left: 0%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

		}
	#btn1:after{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  0%;
			left: 0%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

	}
	#btn1:hover{
		color: #fff;
	}
	#btn1:hover:before{
			transform: rotateX(90deg);

	}
	#btn1:hover:after{
			transform: rotateY(90deg);
	}
	/* COMPANY btn css*/
	#btn2:before{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  -100%;
			left: -100%;
			background: #212121;
			transition: all .5s;
			z-index: -1;

		}
	#btn2:after{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  100%;
			left: 100%;
			background:rgba(250,245,245,0.4) ;
			transition: all .5s;
			z-index: -1;

	}
	#btn2:hover{
		color: #fff;
	}
	#btn2:hover:before{
			top: 0;
			left: 0;
	}
	#btn2:hover:after{
	  background:rgba(250,245,245,0.4);
	}
	/*contact btn css*/
#btn3:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(250,245,245,0.4);
  color:#fff;
  transition: all .35s;
}

#btn3:hover{
  color: #fff;
}
#btn3:hover:after{
  width: 100%;
  color:#fff;
}

/*sub-menu 多階層　css*/
.header-right ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}
.header-right ul li:hover > ul {
	display:inherit;
}
.header-right ul ul li {
	width:140px;
	float:none;
	display:list-item;
	position: relative;
}
.header-right ul ul li a{
  font-size:11px;
  font-weight:800;
  white-space:nowrap;
  padding-left:-5px;
  color:#ddd;
}
/*----------------*/
/* hamburger-menu */
/*----------------*/
header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
header .menu-icon .navicon {
  background: #999;
  display: block;
  height: 4px;
  position: relative;
  top:-100px;
  transition: background .2s ease-out;
  width: 30px;
}
header .menu-icon .navicon p{
  white-space:nowrap;
  font-size:12px;
  font-weight:900;
  padding-top:16px;
  margin-left:-12px;
  color:#ddd;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  /*top:5px;*/
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 9px;
}

header .menu-icon .navicon:after {
  top: -9px;
}

/* menu btn */

header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/*responsive*/

/* 48em = 768px */
@media (min-width: 670px) {
  .header-left{
    clear:both;
  }
  .header-right li {
    float: left;
  }
  .header-right li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}

/*----------------*/
/* トップに戻るcss*/
/*----------------*/
#pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 15px;
  background: #000;
  opacity: 0.7;
}
#pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f102';
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}
/*トップ戻る終了*/
/*----------------*/
/* logo-rotation  */
/*-----------------*/
.rotate {
  width: 60px;
  height: 50px;

  position: absolute;
  top:0.4vw;
  left:48vw;
  transform-origin: center;
  /*transform-style: preserve-3d;*/
}
.rotate .front {
  background-image:url("rotation-logo.png");
  background-size:22px 22px;
  background-position:center center;
  background-repeat:no-repeat;
  /*border:2px solid;
  border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 1;*/
}
.rotate .back {
  background-image:url("rotation-logo.png ");
  background-size:22px 22px;
  background-position:center center;
  background-repeat:no-repeat;
  visibility:visible;
  /*border:2px solid;
  border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 1;*/
}
.rotate figure {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 200px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;*/
}
.rotate:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#rotateY {
  -moz-animation: rotateY 5s  ease 0s infinite;
  -webkit-animation: rotateY 5s   ease 0s infinite;
  animation: rotateY 5s  ease 0s infinite;
}
#rotateY .back {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@-moz-keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  0%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80%{
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/*-------------*/
/*footerのcss*/
/*-------------*/
footer{
  clear:both;
  width:100%;
  height:95px;
  background-color:#000;
  opacity:0.9;
  z-index:2;
}
.footer-left
{
  float:left;
  padding-left:20px;
  padding-top:7px;
  font-size:14px;
  color:#fff;
}
.footer-right{
  float:right;
  font-size:14px;
  margin-right:20px;
  margin-top:-10px;
  line-height:75px;
  color:#fff;
}
.footer-right a{
  padding-right:10px;

  text-decoration:none;
  color:#fff;
  opacity:0.8;
  transition:all 0.5s;
}
.footer-right a:hover{
  opacity:1.0;
  text-decoration:underline;
}


/*contact css*/
/*typewriter cxx*/
 .top-message{
   display: flex;
   /*position: absolute;
   left: 35%;*/
   text-align:center;
   margin-top: 120px;
  }
 .top-message h1{
   margin:0 auto;
   font-size:28px;
   font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
   color:#fff;
   border-right: 3px solid #e67e22;
   overflow: hidden;
   text-transform: capitalize;
   white-space: nowrap;
   animation: typing 7s steps(30) infinite ;
   }

  @keyframes typing{
   0%{width: 0%;}
   50%{width: 100%;}
   75%{width: 100%;}
   100%{width: 0%;}
   }
/*本文*/
.contact-container{
  margin-top:80px;
  height:2150px;
}
.contact-container h3{
  font-size:20px;
  font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color:#000;
  text-shadow:
    #fff 2px 0px 2px, #fff -2px 0px 2px,
    #fff 0px -2px 2px, #fff -2px 0px 2px,
    #fff 2px 2px 2px, #fff -2px 2px 2px,
    #fff 2px -2px 2px, #fff -2px -2px 2px,
    #fff 1px 2px 2px, #fff -1px 2px 2px,
    #fff 1px -2px 2px, #fff -1px -2px 2px,
    #fff 2px 1px 2px, #fff -2px 1px 2px,
    #fff 2px -1px 2px, #fff -2px -1px 2px,
    #fff 1px 1px 2px, #fff -1px 1px 2px,
    #fff 1px -1px 2px, #fff -1px -1px 2px;
  margin-top:20px;
  margin-bottom:20px;
  text-decoration:underline;
}
.contact-container p{
   color:#fff;
   font-weight:400;
   font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
   padding:-10x 0;
   font-size:15px;
}
.contact-container h4{
  color:#fff;
  font-size:15px;
  font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight:900;
  margin-bottom:40px;
}

@media all and (max-width:1070px){
  html,	body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
  .main{
    text-align:center;
    padding:0;
  }
  .rotate{
  left:106%;
}
.header-left{
  transform:scale(0.87);
  margin-left:-60px;
}
.header-right{
  transform:scale(0.87);
}
}
@media all and (max-width:830px){
  .header-right{
    margin-top:-15px;
    margin-right:0px;
  }
  .top-message{
    margin-top:150px;;
  }
  .top-message h1{
    font-size:22px;
  }
  .contact-container h3{
    font-size:17px;
  }
  .contact-container p{
    font-size:14px;
  }
  .contact-container h4{
    font-size;14px;
  }
}
@media all and (max-width:670px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
.main{
  padding:0;
  margin:0;
 }
  .header-left{
  transform:scale(0.83);
  margin-left:-65px;
}
.rotate{
   display:none;
   left:56%;
}
.menu-icon{
   margin-top:95px;
	}
  footer{
    float:none;
    transform:scale(0.93);
  }
  footer .footer-right{
    transform:scale(0.85);
    margin-top:-10px;
    margin-left:10px;
    margin-bottom:20px;
  }
  footer .footer-right small{
    display:block;
    margin-top:-45px;
    white-space:nowrap;
  }
  .top-message{
    margin-top:130px;;
  }
  .top-message h1{
    font-size:20px;
  }
  .contact-container h3{
    font-size:16px;
  }
  .contact-container p{
    font-size:14px;
  }
  .contact-container h4{
    font-size:14px;
  }
}
@media all and (max-width:430px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
.main{
  padding:0;
  margin:0;
 }
  .menu-icon{
   margin-top:65px;
  	}
  .header-left img{
    margin-top:-12px;
  }
  .header-left p{
    margin-top:5px;
  }
   .top-message h1{
     font-size:16px;
   }
   .contact-container h3{
     font-size:16px;
   }
   .contact-container p{
     font-size:14px;
   }
   .contact-container h4{
     font-size:14px;
   }
}
@media all and (max-width:380px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .top-message h1{
    font-size:14px;
  }
  .contact-container h3{
    font-size:16px;
  }
  .contact-container p{
    font-size:12px;
  }
  .contact-container h4{
    font-size:12px;
  }
}
@media all and (max-width:330px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
.main{
  padding:0;
  margin:0;
 }
 header{
   transform: scale(0.8);
 }
  .menu-icon{
   margin-top:35px;
  	}

    .contact-container h3{
      font-size:16px;
    }
    .contact-container p{
      font-size:12px;
    }
    .contact-container h4{
      font-size:12px;
    }
}
