*{
  box-sizing:border-box;
}
body{
  font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  letter-spacing:0.08em;
  line-height:1.8;
  padding:0;
  margin:0;
}
a{
  text-decoration:none;
   white-space:pre-line;
}
.main{
  padding:30px 190px;
}
ul{
  list-style:none;
  font-weight:900;
}
.sub-example li{
  list-style:inside;
  width:80%;
  background-color: #0074bf;
  margin-top:2px;
  color:#fff;
  border-radius:3px;
  padding-left:5px;
}
li,p{
  font-size:15.5px;
}
p{
   font-weight:400;
}
li{
   margin-top:20px;
}
span{
  color:#ff0000;
  text-decoration:underline;
}
.last-comment{
  margin-top:25px;
  margin-bottom:30px;
  font-weight:800;
}
.return{
  text-decoration:underline;
  font-size:16px;
  font-weight:900;
  color:#0000ff;
}
@media(max-width:1070px){
  .main{
    padding:40px 30px;
    width:100%;
  }
  h1{
    font-size:18px;
  }
}
@media all and (max-width:670px){
  .main{
    padding:40px 30px;
    margin-right:30px;
    width:100%;
  }
  h1{
    font-size:18px;
  }
  p,li{
    font-size:13px;
  }
}
@media all and (max-width:450px){
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .main{
     padding:40px 15px;
    width:100%;
  }
  h1{
    font-size:15px;
  }
  p,li{
    font-size:11px;
  }
  .sub-example li{
    width:100%;
  }
}
