body {
  margin: 0;
  font-family: Nunito, Arial, sans-serif;
  background:#000;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper {
  height:125.2px;
  width:30.9px;
  position:relative;
  top:27.86px;
  left:49.03%;

  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}
.j {
  position:absolute;
  top:20.7px;
  left:48.723%;
  z-index:-2;
}
.body-logo img{
  position:absolute;
  top:196px;
  left:49.92%;
}
.container{
  width:580px;
  height:auto;
  position:absolute;
  top:295px;
  left:25%;
   transform:scale(0.9);
  display: -webkit-box;
  display: flex;

}
.piano {

  background-color: #b33e5c;
  padding: 15px;
  height: 200px;
  border-radius: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.controls {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.keys {
  display: -webkit-box;
  display: flex;
}

.key {
  font-size: 10px;
  position: relative;
  margin-top: 25px;
  border-radius: 0 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
}

.key.key--black {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #4a4a4a), color-stop(0%, #444));
  background-image: linear-gradient(#4a4a4a 100%, #444 0%);
  width: 30px;
  height: 90px;
  left: 15px;
  z-index: 2;
  margin-left: -30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.key.key--black:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#444));
  background-image: linear-gradient(#4a4a4a 0%, #444 100%);
}

.key.key--white {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f1f1f1), color-stop(0%, #ddd));
  background-image: linear-gradient(#f1f1f1 100%, #ddd 0%);
  width: 50px;
  height: 150px ;
  border:2px solid #ccc;
}

.key.key--white:last-child {
  border-right: 0;
}

.key.key--white:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));
  background-image: linear-gradient(#f1f1f1 0%, #ddd 100%);
}

.return a{
  color:#fff;
  position:absolute;
  top:150px;
  left:68%;
}
table{
  font-size:15px;
  position:absolute;
  top:50px;
  left:5%;
}
 table span{
    font-weight:900;
    color:red;
    text-decoration:underline;
  }

/*レスポンシブ*/
@media all and (max-width:1070px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.89);
  }
  .wrapper{
    top:195.4px;
    left:49.11%;
    z-index:2;
  }
  .j{
    top:182px;
  left:48.723%;
  }
  .body-logo img {
    top:345px;
  left:50.18%;
  }
  .container{
     transform:scale(0.95);
     top:455px;
     left:11.3%;

       }
  table{
    transform:scale(1.15);
    top:35px;
    left:25.5%;
  }

  .return a{
    font-size:18px;
    top:280px;
    left:80%;
  }
}
@media all and (max-width:830px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.61);
  }
  .wrapper{
    top:116.4px;
    left:49.22%;
    z-index:2;
  }
  .j{
    top:88px;
  left:48.723%;
  }
  .body-logo img {
    top:234px;
  left:50.65%;
  }
  .container{
     transform:scale(0.58);
     top:263px;
     left:6.9%;

       }
  table{
    transform:scale(0.82);
    top:-5px;
    left:20.0%;
  }

  .return a{
    font-size:16px;
    top:220px;
    left:80%;
  }
}
@media all and (max-width:739px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.61);
  }
  .wrapper{
    top:116.4px;
    left:49.32%;
    z-index:2;
  }
  .j{
    top:88px;
  left:48.723%;
  }
  .body-logo img {
    top:234px;
  left:50.91%;
  }
  .container{
     transform:scale(0.58);
     top:255px;
     left:3.9%;

       }
  table{
    transform:scale(0.82);
    top:-5px;
    left:20.0%;
  }

  .return a{
    font-size:16px;
    top:220px;
    left:80%;
  }
}
@media all and (max-width:670px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.58);
  }
  .wrapper{
   top:90.5px;
  left:49.3%;
  }
  .j{
    top:60.7px;
  left:48.723%;
  }
  .body-logo img {
    top:202px;
  left:51.1%;
  }
  .container{
     transform:scale(0.485);
     top:205px;
     left:-1%;
  }
  table{
    transform:scale(0.64);
    top:-19px;
  left:14.2%;
  }
  .return a{
    font-size:11px;
  }
}
@media all and (max-width:570px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.58);
  }
  .wrapper{
   top:92.0px;
  left:49.4%;
  }
  .j{
    top:60.7px;
  left:48.723%;
  }
  .body-logo img {
    top:202px;
  left:51.65%;
  }
  .container{
     transform:scale(0.485);
     top:205px;
     left:-5%;
  }
  table{
    transform:scale(0.64);
    top:-19px;
  left:10.2%;
  }
  .return a{
    font-size:11px;
  }
}
@media all and (max-width:420px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.58);
  }
  .wrapper{
   top:91.7px;
  left:49.60%;
  }
  .j{
    top:60.7px;
  left:48.723%;
  }
  .body-logo img {
    top:202px;
  left:52.46%;
  }
  .container{
     transform:scale(0.488);
     top:215px;
     left:-33.0%;
  }
  table{
    transform:scale(0.64);
    top:-10px;
  left:-8.2%;
  }
  .return a{
    font-size:11px;
    top:90px;
  }
}
@media all and (max-width:380px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .wrapper{
   top:92.1px;
  left:49.9%;
  }
  .body-logo img {
  left:52.92%;
  }
  .container{
     transform:scale(0.44);
     top:256px;
     left:-38.3%;
  }
  table{
    transform:scale(0.65);
    top:-12px;
  left:-15.1%;
  }

  .return a{
    font-size:12.5px;
  }
}
@media all and (max-width:365px){
  html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .wrapper{
   top:91.4px;
  left:49.771%;
  }
  .body-logo img {
  left:53.1%;
  }
  .container{
     transform:scale(0.42);
     top:256px;
     left:-41.3%;
  }
  table{
    transform:scale(0.63);
    top:-12px;
  left:-18.9%;
}
  .return a{
    font-size:12.5px;
  }

}
@media all and (max-width:325px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .body-logo img {
  left:53.5%;
  }
  .container{
     transform:scale(0.38);
     top:256px;
     left:-52.1%;
  }
  table{
    transform:scale(0.59);
    top:-20px;
  left:-27.1%;
}
  .return a{
    font-size:14px;
  }
}
@media all and (max-width:285px){
  html,	body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .body-logo img {
  left:54.17%;
  }
  .wrapper{
  left:50.11%;
  top:91.4px;
  }
  .container{
     transform:scale(0.35);
     top:256px;
     left:-65.9%;
  }
  table{
    transform:scale(0.54);
    top:-20px;
  left:-39.1%;
}
  .return a{
    font-size:14px;
  }
  }
