*{
  box-sizing:border-box;/*全体をボーダーボックス指定*/
}
body {
  margin: 0;
  font-family: Nunito, Arial, sans-serif;
  background:#000;
}

html, body, .wrapper {
  height: 100%;
}
.main{
  width:1230px;
  max-width:100%;
  position:relative;
}

.wrapper {
  height:126.1px;
  width:30.1px;
  position:absolute;
  top:27.0px;
  left:49.01%;

  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}
.j {
  position:absolute;
  top:20.7px;
  left:48.723%;
  z-index:-2;
}
.body-logo img{
  position:absolute;
  top:198px;
  left:49.91%;
}
.container{
  width:580px;
  height:auto;
  position:absolute;
  top:295px;
  left:25%;
   transform:scale(0.9);
  display: -webkit-box;
  display: flex;

}
.piano {
  background-color: #b33e5c;
  padding: 15px;
  height: 200px;
  border-radius: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.controls {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.keys {
  display: -webkit-box;
  display: flex;
}

.key {
  font-size: 10px;
  position: relative;
  margin-top: 25px;
  border-radius: 0 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
}

.key.key--black {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #4a4a4a), color-stop(0%, #444));
  background-image: linear-gradient(#4a4a4a 100%, #444 0%);
  width: 30px;
  height: 90px;
  left: 15px;
  z-index: 2;
  margin-left: -30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.key.key--black:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#444));
  background-image: linear-gradient(#4a4a4a 0%, #444 100%);
}

.key.key--white {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f1f1f1), color-stop(0%, #ddd));
  background-image: linear-gradient(#f1f1f1 100%, #ddd 0%);
  width: 50px;
  height: 150px ;
  border:2px solid #ccc;
}

.key.key--white:last-child {
  border-right: 0;
}

.key.key--white:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));
  background-image: linear-gradient(#f1f1f1 0%, #ddd 100%);
}

.return a{
  color:#fff;
  position:absolute;
  top:150px;
  left:68%;
}
table{
  font-size:15px;
  width:450px;
  position:absolute;
  top:50px;
  left:5%;
}
 table span{
    font-weight:900;
    color:red;
    text-decoration:underline;
  }

/*レスポンシブ*/
@media all and (max-width:1070px){
   .main{
    padding:0;
    margin:0;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.9);
  }
  .wrapper{
   position:absolute;
   top:183.46px;
   left:45.96%;
  }
  .j{
    top:165px;
    left:45%;
  }
  .body-logo img {
    top:320px;
    left:48.65%;
  }
  .container{
    width:650px;
    max-width:100%;
    transform:scale(0.462);
    margin-left:auto;
    margin-right:auto;
  }
  .piano{
    position:absolute;
    top:290px;
    left:50%;
    transform: translateX(-77%);
  }
  table {
    font-size:16px;
    position:absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
  }
  table tr{
    transform:scale(0.8);
  }
  .return a{
    font-size:14px;
    top:260px;
    left:70%;
  }
}
@media all and (max-width:670px){
   html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .main{
    padding:0;
    margin:0;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.92);
  }
  .wrapper{
   position:absolute;
   top:187.27px;
   left:45.96%;
  }
  .j{
    top:173px;
    left:45%;
  }
  .body-logo img {
    top:342px;
    left:48.65%;
  }
  .container{
    width:650px;
    max-width:100%;
    transform:scale(0.52);
    margin-left:auto;
    margin-right:auto;
  }
  .piano{
    position:absolute;
    top:290px;
    left:50%;
    transform: translateX(-77%);
  }
  table {
    font-size:16px;
    position:absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
  }
  table tr{
    transform:scale(0.8);
  }
  .return a{
    font-size:14px;
    top:260px;
    left:70%;
  }
}

@media all and (max-width:370px){
   html,	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
   .main{
    padding:0;
    margin:0;
  }
  .wrapper,.j,.body-logo img {
  transform:scale(0.81);
  }
  .wrapper{
   position:absolute;
   top:183.46px;
   left:46.30%;
  }
  .j{
    top:165px;
    left:45%;
  }
  .body-logo img {
    top:320px;
    left:49.25%;
  }
  .container{
    width:650px;
    max-width:100%;
    transform:scale(0.462);
    margin-left:auto;
    margin-right:auto;
  }
  .piano{
    position:absolute;
    top:290px;
    left:50%;
    transform: translateX(-77%);
  }
  table {
    font-size:16px;
    position:absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
  }
  table tr{
    transform:scale(0.8);
  }
  .return a{
    font-size:14px;
    top:260px;
    left:70%;
  }
}
  

