* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
text-decoration: none;
color: inherit;
}
input {
display: none;
}
*{
  margin: 0;
  paddding: 0;
}
.headerRight video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(80%);

}

.headerRight .dotImg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC") repeat;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
body {
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  opacity:0.9;
  text-align: center;
  width: 100vw;
  font-weight: 100;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#fly-in {
  font-size: 3.5em;
  margin: 40vh auto;
  height: 20vh;
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}


#fly-in div {
 position: fixed; <!--codepen.io/h-kod/-->
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}

.cp_fullscreenmenu {
position: fixed;
z-index: 1;
top: 0;
right: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-image: linear-gradient(to top, rgba(255,8,68,0.6) 0%, rgba(255,177,153,0.5) 100%);
}
.cp_fullscreenmenu .menu label {
position: absolute;
top: 20px;
right: 20px;
width: 30px;
height: 30px;
cursor: pointer;
background-size: 100%;
}
.cp_fullscreenmenu .menu .menucont {
font-size:2.9vw;
position: relative;
top: 39%;
margin-top: -170px;
padding-bottom: 20px;
text-align: center;
}
.cp_fullscreenmenu .menu ul {
margin: 0 auto;
padding: 0;
list-style: none;

}
.cp_fullscreenmenu .menu ul li,
.cp_fullscreenmenu .menu ul li a {
transition: all 0.3s ease;
}
.cp_fullscreenmenu .menu ul li a {
display: block;

margin-top:5px;
padding: 5px 0;
color: #ffffff;
}
.cp_fullscreenmenu .menu ul li a:hover {
color: #ff0844;

}
.cp_fullscreenmenu .menu ul li:hover {
background: #ffffff;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .menuEffects {
visibility: hidden;
transition: opacity 0.5s, visibility 0.5s;
opacity: 0;
}
.cp_fullscreenmenu .menuEffects ul {
transition: all 0.5s;
transform: translateY(0%);
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects {
visibility: visible;
transition: opacity 0.5s;
opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects ul {
opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open {
background-color: transparent;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:before {
position: absolute;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(45deg);
background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:after {
position: relative;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(-45deg);
background-color: #ffffff;

}
.cp_fullscreenmenu #menuToggle:not(:checked) ~ .menuEffects ul {
transform: translateY(-30%);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
position: relative;
top: 0;
right: 0;
display: block;
width: 50px;
height: 50px;
padding: 15px;
margin-top:-25px;
margin-right:15px;
cursor: pointer;
}
.cp_fullscreenmenu .hamburger h6{
  display:inline-block;
  font-size:11px;
  white-space:nowrap;
  margin-left:-10px;
  /*color:#ff0844;*/
  color:#fff;
}
.cp_fullscreenmenu .hamburger:hover .open:before {
top: -9px;
}
.cp_fullscreenmenu .hamburger:hover .open:after {
top: 5px;
}
.cp_fullscreenmenu .open,
.cp_fullscreenmenu .open:before,
.cp_fullscreenmenu .open:after {
position: relative;
display: block;
width: 24px;
height: 4px;
border-radius: 2px;
background-color: #ff0844;

transition: all 0.3s ease;
}
.cp_fullscreenmenu .open {
top: 8px;
cursor: pointer;
}
.cp_fullscreenmenu .open:before {
top: -8px;
content: '';
transform: rotate(0deg);
}
.cp_fullscreenmenu .open:after {
top: 4px;
content: '';
}
ul .sub-menu li{
  font-size:1.6vw;
}

@media (orientation:portrait) and (max-width:800px){
  #fly-in{
    transform:scale(0.55);
    text-align:center;
  }
.cp_fullscreenmenu .menu .menucont{
  font-size:24px;
  top:50%;
}
ul .sub-menu li{
  font-size:16px;
}

}

@media (orientation:portrait) and (max-width:670px){
  #fly-in{
    transform:scale(0.5);
    text-align:center;
  }
  .cp_fullscreenmenu .menu .menucont{
    top:52%;
  }
/*.cp_fullscreenmenu .menu .menucont{
  font-size:20px;
}
ul .sub-menu li{
  font-size:14px;
}*/
}
@media (orientation:landscape) and (max-width:1070px){
  #fly-in{
    transform:scale(0.85);
    text-align:center;
  }
  .cp_fullscreenmenu .menu .menucont{
    top:50%;
  }
/* .cp_fullscreenmenu .menu .menucont{
  font-size:38px;
 }
 ul .sub-menu li{
  font-size:16px;
 }*/


}
@media (orientation:landscape) and (max-width:840px){
  #fly-in{
    transform:scale(0.7);
    text-align:center;
  }
  .cp_fullscreenmenu .menu .menucont{
    top:50%;
  }
  .cp_fullscreenmenu .menu .menucont{
    font-size:20px;
  }
  ul .sub-menu li{
    font-size:14px;
  }

}
@media (orientation:landscape) and (max-width:660px){
  #fly-in{
    transform:scale(0.6);
    text-align:center;
  }
  .cp_fullscreenmenu .menu .menucont{
    font-size:17px;
  }
  ul .sub-menu li{
    font-size:13px;
  }
.cp_fullscreenmenu .menu .menucont{
  top:52%;
}
}
